<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Contact Us">
    <meta name="description" content="">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/nicepage.css" media="screen">
    <link rel="stylesheet" href="/static/Contactnew.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/jquerycontact.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepagecontact.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.12.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="icon" type="image/x-icon" href="/static/images/iconcontact.ico">



    <!-- <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "",
            "logo": "images/logo.svg"
        }
    </script> -->
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-7833">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="/" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="150" title="Sample Joy">
                <img src="/static/images/contact.svg" class="u-logo-image u-logo-image-1">
            </a>
            <h3 class="u-headline u-text u-text-default u-text-1">
                <a href="/">Sample By Arindam</a>
            </h3>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/About" style="padding: 10px 20px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Contact" style="padding: 10px 20px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://magic-notes-project.pages.dev/" style="padding: 10px 20px;">Notes App</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/About">About</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Contact">Contact</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="https://magic-notes-project.pages.dev/">Notes App</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="carousel_bddc">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-opacity u-opacity-40 u-shape u-shape-svg u-text-palette-1-light-1 u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1073"></use></svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-1073"><path d="M43.2,126.9c14.2,1.3,27.6,7,39.1,15.6c8.3,6.1,19.4,10.3,32.7,5.3c11.7-4.4,18.6-17.4,21-30.2c2.6-13.3,8.1-25.9,15.7-37.1
	c8.3-12.1,10.8-27.9,5.3-42.7C150.5,20.3,134.6,9,117,7.6C107.9,6.9,98.8,5,90.1,1.9C83-0.6,75-0.7,67.4,2.1
	c-9.9,3.7-17,11.6-20.1,21c-3.3,10.1-10.9,18-20.6,22.2c-0.1,0-0.1,0.1-0.2,0.1c-20.3,8.9-31,32-24.6,53.2
	C6.9,115.6,25.2,125.2,43.2,126.9z"></path></svg>
            </div>
            <img class="u-image u-image-default u-preserve-proportions u-image-1" src="/static/images/jjjjjjjjjjjjjjjjjjj.png" alt="" data-image-width="242" data-image-height="241" data-animation-name="customAnimationIn" data-animation-duration="1000">
            <img class="u-align-left u-image u-image-contain u-image-default u-preserve-proportions u-image-2" data-image-width="1155" data-image-height="900" src="/static/images/xxxx.png" data-animation-name="customAnimationIn" data-animation-duration="1000">
            <img class="u-align-left u-image u-image-contain u-image-default u-preserve-proportions u-image-3" data-image-width="959" data-image-height="947" src="/static/images/ddd-min.png" data-animation-name="lightSpeedIn" data-animation-duration="1000" data-animation-direction="">
            <div class="u-gradient u-shape u-shape-circle u-shape-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction=""></div>
            <div class="u-form u-radius-10 u-white u-form-1">
                <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" source="email" name="form" style="padding: 28px;">
                    <div class="u-form-group u-form-name">
                        <label for="name-4c18" class="u-label">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-4c18" name="name" class="u-border-2 u-border-palette-1-light-3 u-input u-input-rectangle u-palette-1-light-3 u-radius-10" required="">
                    </div>
                    <div class="u-form-group u-form-group-2">
                        <label for="text-0bd4" class="u-label">Age</label>
                        <input type="text" placeholder="Enter Your Age" id="text-0bd4" name="age" class="u-border-2 u-border-palette-1-light-3 u-input u-input-rectangle u-palette-1-light-3 u-radius-10">
                    </div>
                    <div class="u-form-group u-form-phone u-form-group-3">
                        <label for="phone-a880" class="u-label">Phone</label>
                        <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone (e.g. +14155552675)" id="phone-a880" name="phone" class="u-border-2 u-border-palette-1-light-3 u-input u-input-rectangle u-palette-1-light-3 u-radius-10"
                            required="required">
                    </div>
                    <div class="u-form-email u-form-group">
                        <label for="email-4c18" class="u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-4c18" name="email" class="u-border-2 u-border-palette-1-light-3 u-input u-input-rectangle u-palette-1-light-3 u-radius-10" required="">
                    </div>
                    <div class="u-form-group u-form-message">
                        <label for="message-4c18" class="u-label">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-4c18" name="message" class="u-border-2 u-border-palette-1-light-3 u-input u-input-rectangle u-palette-1-light-3 u-radius-10" required=""></textarea>
                    </div>
                    <div class="u-align-right u-form-group u-form-submit">
                        <button class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-12 u-text-active-palette-1-light-3 u-btn-1">Submit</button>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                </form>
            </div>
            <h1 class="u-custom-font u-text u-text-black u-text-font u-title u-text-1" data-animation-name="lightSpeedIn" data-animation-duration="1000">Contact Us</h1><span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="bounceIn" data-animation-duration="1000"><img data-animation-name="bounceIn" data-animation-duration="1000" src="/static/images/950237.png" alt=""></span>
        </div>
    </section>



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-2542">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h4 class="u-text u-text-1">Copyright © 2022 Sample By Arindam<br>
            </h4>
        </div>
    </footer>
</body>

</html>