 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 845px;
}

.u-section-1 .u-icon-1 {
  width: 123px;
  background-image: none;
  height: 123px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0;
  padding: 19px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 30px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px);
  min-height: 391px;
  grid-gap: 38px 38px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-icon-2 {
  height: 203px;
  width: 203px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-icon-3 {
  height: 203px;
  width: 203px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
}

.u-section-1 .u-icon-4 {
  height: 203px;
  width: 203px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 322px;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-text-3 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-icon-3 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-text-5 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-btn-5 {
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-text-7 {
    transition-duration: 0.75s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 19px) calc(50% - 19px);
    min-height: 740px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }
}