 .u-section-1 {
  background-image: url("images/ghghhghg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px auto 0 32px;
}

.u-section-1 .u-image-2 {
  width: 216px;
  height: 119px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1.73;
  margin: 117px 40px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 242px;
  height: 242px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.35;
  margin: -295px auto 0 423px;
}

.u-section-1 .u-group-1 {
  width: 545px;
  min-height: 530px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -77px auto 0 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  width: 139px;
  background-image: none;
  height: 139px;
  margin: 12px auto 0 187px;
  padding: 21px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 10px 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px auto 0 15px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px auto 0 160px;
  padding: 15px 41px 16px 40px;
}

.u-section-1 .u-image-4 {
  width: 217px;
  height: 217px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -294px 219px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 309px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 60px 295px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-icon-1 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 223px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -429px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -49px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 155px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 98px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 123px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 31px;
  }
}